.navbar {
  position: relative;
  margin: 0 auto;
  padding: 0%;
  color: white;
}

.navName {
  position: absolute;
}

.navItems {
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: space-between;
  color: white;
}

#navBackground {
  width: 100%;
}

.rightNav {
  margin-top: 16px;
  list-style-type: none;
  display: flex;
  padding-left: 25%;
}

li {
  
}